<h1>Stupid Coaching</h1>
<!-- <p>Find me in app/views/questions/ask.html.erb</p> -->

<form action="/answer">
  <p>Ask your coach anything:</p>
  <input type="text" id= "text" name="question">
  <input type="submit" id="submit" value="Ask!">
</form>

